<section class="relative bg-gray-100 rounded-3xl overflow-hidden lg:md:mb-32">

  <div class="absolute inset-0 bg-cover bg-center"
       style="background-image: url('/assets/images/get-started.png'); filter: blur(5px);"></div>

  <div class="absolute inset-0 bg-slate-800/30"></div>

  <div class="py-12 px-4 mx-auto max-w-screen-xl text-center lg:py-20 z-10 relative">
    <h1 class="mb-6 text-heading1-bold font-extrabold tracking-wide leading-none text-white lg:text-7xl">
      Optimize Healthcare Management with Norman.zs
    </h1>

    <p class="mb-10 text-heading4-medium font-normal text-gray-100 sm:px-12 lg:px-32">
      Revolutionize healthcare management with Norman.zs. Our advanced SaaS platform streamlines operations,
      from patient appointments to administrative workflows, ensuring a more efficient, integrated healthcare
      experience.</p>
    <div class="flex flex-col space-y-4 items-center sm:flex-row sm:justify-center sm:space-y-0">
      <button [routerLink]="['/sign-up']"
              class="flex flex-row ease-in-out text-white text-xl font-semibold tracking-wide bg-indigo-400 transition-colors hover:bg-indigo-300 active:bg-indigo-500 border-2 border-indigo-600/30 rounded-full px-10 py-2.5 max-md:hidden shadow-md shadow-black/40">
        Get started
      </button>
    </div>
  </div>
</section>

<div id="about" class="relative w-full mb-32 px-4 sm:px-0">
  <ol class="relative border-l border-amber-500">
    <li class="mb-10 ml-4 sm:ml-8">
      <div class="absolute w-3 h-3 bg-orange-400 border-0 rounded-full mt-1.5 -left-1.5"></div>
      <time class="block mb-1 py-1 text-sm font-normal leading-none text-purple-700">September 2023</time>
      <h3 class="text-lg font-semibold text-dark-4">Norman.zs Introduces Healthcare Management
        Operations</h3>
      <p class="text-base/loose font-normal text-gray-800 py-1">Norman.zs is proud to announce the launch of its specialized healthcare system SaaS.
        <br>This revolutionary platform is designed to transform the way healthcare providers manage their operations.</p>
    </li>
    <li class="mb-10 ml-4 sm:ml-8">
      <div class="absolute w-3 h-3 bg-orange-400 border-0 rounded-full mt-1.5 -left-1.5"></div>
      <time class="block mb-1 py-1 text-sm font-normal leading-none text-purple-700">November 2023</time>
      <h3 class="text-lg font-semibold text-dark-4">Norman.zs Debuts Advanced Capabilities for Streamlined Healthcare
        Management</h3>
      <p class="text-base/loose font-normal text-gray-800 py-1">Explore the next level of healthcare management with Norman.zs's recent upgrades.
        <br>Our platform now offers a revamped intuitive dashboard, and integrated, state-of-the-art patient engagement tools.
        <br>These advancements are tailored to refine your healthcare operations and elevate patient experience to new heights.</p>
    </li>
    <li class="mb-10 ml-4 sm:ml-8">
      <div class="absolute w-3 h-3 bg-orange-400 border-0 rounded-full mt-1.5 -left-1.5"></div>
      <time class="block mb-1 py-1 text-sm font-normal leading-none text-purple-700">December 2023</time>
      <h3 class="text-lg font-semibold text-dark-4">Norman.zs Marks a New Achievement in User Engagement and Satisfaction</h3>
      <p class="text-base/loose font-normal text-gray-800 py-1">
        Norman.zs, your specialized healthcare system solution, is excited to share a significant surge in user adoption.
        <br>With our advanced patient management, we've become more than just a platform - we're a transformative force in healthcare management,
        <br>earning trust and acclaim from professionals across the industry.</p>
    </li>
  </ol>
</div>

<section class="relative bg-gray-100 rounded-3xl overflow-hidden">

  <div class="absolute inset-0 bg-cover bg-center"
       style="background-image: url('/assets/images/landing-contact.png'); filter: blur(5px);"></div>

  <div class="absolute inset-0 bg-slate-800/50"></div>

  <div class="py-12 px-4 mx-auto max-w-screen-xl text-center lg:py-20 z-10 relative">

    <h1 class="mb-6 text-heading1-bold font-extrabold tracking-wide leading-none text-white lg:text-7xl">
      We Elevate Healthcare Excellence
    </h1>

    <p class="mb-10 text-heading4-medium font-normal text-gray-100 sm:px-12 lg:px-32">
      Be part of the innovative healthcare providers transforming patient care with Norman.zs.
    </p>

    <form class="w-full max-w-md mx-auto">
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
          <svg aria-hidden="true" class="w-4 h-4 text-gray-900" fill="#10101299" viewBox="0 0 20 16"
               xmlns="http://www.w3.org/2000/svg">
            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
            <path
              d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
          </svg>
        </div>

        <input
          class="block w-full py-2.5 pl-12 text-sm border-0 text-gray-700 rounded-2xl bg-gray-50 focus:ring-2 focus:ring-indigo-400 placeholder-gray-400 shadow-md shadow-black/30"
          id="default-email"
          placeholder="Enter your email here..."
          required type="email">

        <button
          class="text-gray-700 ease-in-out transition-colors absolute right-3 bottom-3 text-base-regular rounded-full text-sm hover:text-purple-500"
          type="submit">
          Sign up
        </button>
      </div>
    </form>
  </div>

  <div class="bg-gradient-to-b from-blue-900 to-transparent w-full h-full absolute top-0 left-0 z-0"></div>
</section>
