<div *ngIf="inboxItems.length" class="w-full">
  <div class="mx-auto" style="max-width: 65.8rem; width: 100%;">
    <ul class="w-full flex flex-col justify-center gap-2">
      <h3 class="font-semibold text-gray-700">Inbox messages</h3>
      <li class=" bg-slate-50 rounded-lg shadow-sm" *ngFor="let item of inboxItems; let i = index">
        <div class="flex p-2 justify-between items-center bg-slate-200 rounded-t-lg">
          <div class="flex flex-row justify-center items-start gap-1">
            <button class="text-sm text-blue-500" (click)="toggleExpand(i)">
              <img *ngIf="item.isExpanded; else notExpanded" src="assets/assets/hide.svg" class="w-7 h-7" alt="Less">
              <ng-template #notExpanded>
                <img src="assets/assets/expand.svg" class="w-7 h-7" alt="Expand">
              </ng-template>
            </button>
            <span class="text-base1-semibold">{{ item.userEmailFrom }}</span>
          </div>
          <div>
            <button
              class="text-gray-400 transition-colors duration-200 hover:text-red-600 active:text-red-800 focus:outline-none">
              <svg class="w-5 h-5" fill="none" stroke="currentColor"
                   stroke-width="1.5"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="pt-2.5 pr-2.5 pl-2.5">
          <div *ngIf="item.isExpanded">
            <p class="whitespace-pre-wrap">{{ item.content }}</p>
          </div>
          <div *ngIf="!item.isExpanded">
            <p class="whitespace-pre-wrap">{{ item.content | slice:0:140 }}{{ item.content.length > 140 ? '...' : '' }}</p>
          </div>
        </div>
        <div class="flex justify-between items-center p-1">
          <button [routerLink]="['/outbox']"
                  class="w-fit ease-in-out text-indigo-500 transition-colors text-base-medium font-semibold
                  bg-indigo-100/90 hover:bg-indigo-200/50 border-2 border-indigo-200/30
                  hover:border-indigo-200/50 active:bg-indigo-200/60 rounded-3xl px-3 py-1 gap-2 shadow-sm">
            <span class="text-base-semibold">
              Reply
            </span>
          </button>
          <div class="p-1">
            <span class="text-small-regular font-semibold text-gray-600">
              {{ item.time | date: 'd MMM yyyy \'at\' hh:mm a' }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!inboxItems.length">
  <div *ngIf="showMsg">
    <div class="flex justify-center items-center h-[80vh]">
      <div *ngIf="!inboxItems.length" class="flex flex-col items-center gap-y-3">
        <img class="w-2/12" src="assets/assets/sleeping.svg" alt="empty">
        <h2 class="text-heading1-semibold text-gray-700">Inbox messages are empty...</h2>
        <button [routerLink]="['/outbox']"
                class="w-1/4 rounded-3xl bg-blue px-3 py-2 flex items-center justify-center border-2 border-sky-500
                hover:bg-blue/90 active:bg-sky-400 transition-colors ease-in-out shadow-sm">
            <span class="text-heading4-medium font-semibold text-white">
              Text a message...
            </span>
        </button>
      </div>
    </div>
  </div>
</div>
