<div class="grid grid-cols-5 gap-6">
    <div class="w-full max-w-sm bg-white border-2 border-white rounded-xl shadow-sm">
        <div class="absolute m-1">
            <button class="text-gray-400 transition-colors duration-200 hover:text-red-600
                                            active:text-red-800 focus:outline-none">
                <svg class="w-5 h-5" fill="none" stroke="currentColor"
                     stroke-width="1.5"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <div class="flex flex-col items-center py-3 mx-auto px-6">
            <img class="w-24 h-24 mb-3 rounded-full" src="assets/images/landing-contact.png" alt="Bonnie image"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name name</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Role</span>
            <div class="flex flex-row justify-center text-center items-center gap-2 mt-4 md:mt-6">
                <button class="flex flex-row ease-in-out text-indigo-500 transition-colors text-base-medium
                   bg-indigo-100/90 hover:bg-indigo-200/50 border-2 border-indigo-200/30
                   hover:border-indigo-200/50 active:bg-indigo-200/60 rounded-3xl px-6 py-2 max-md:hidden shadow-md">
                    View chat
                </button>
            </div>
        </div>
    </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
</div>
