<nav class='topbar'>
  <a [routerLink]="['/home']" class='flex items-center gap-3 no-underline'>
    <img alt='logo' class="mb-3" height='52' width="52" src='/assets/images/logo.png'>
    <p class='text-heading2-bold text-dark-1 max-xs:hidden'>norman.zs</p>
  </a>

  <div class="flex flex-row gap-5 mt-3">
    <a [routerLink]="['/']" class="cursor-pointer no-underline">
      <p class='nav_link'>Features</p>
    </a>
    <a [routerLink]="['/']" class="cursor-pointer no-underline">
      <p class='nav_link'>How it
        works</p>
    </a>
    <a [routerLink]="['/']" fragment="about" class="cursor-pointer no-underline">
      <p class='nav_link'>About Us</p>
    </a>
    <a [routerLink]="['/']" fragment="contact" class="cursor-pointer no-underline">
      <p class='nav_link'>Contact Us</p>
    </a>
  </div>

  <div class='flex items-center gap-3'>
    <button [routerLink]="['/login']"
            class="flex flex-row ease-in-out text-indigo-500 transition-colors text-base-medium bg-indigo-100/90 hover:bg-indigo-200/50 border-2 border-indigo-200/30 hover:border-indigo-200/50 active:bg-indigo-200/60 rounded-3xl px-6 py-2 max-md:hidden shadow-md">Sign in
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </button>
  </div>
</nav>

