<div>
  <h2>{{patient.firstName}} {{patient.lastName}}</h2>
  <form>
    <div class="form-group mt-2">
      <label for="patientEmail">Email address</label>
      <input type="email" [(ngModel)]="patient.email" class="form-control"
             id="patientEmail" disabled aria-describedby="emailHelp" placeholder="Enter email"
             value="{{patient.email}}" [ngModelOptions]="{standalone:true}" [disabled]="!isAdmin()">
    </div>
    <div class="form-group mt-2">
      <label for="patientFirstName">First Name</label>
      <input type="text" [(ngModel)]="patient.firstName"
             class="form-control" id="patientFirstName" [disabled]="!isAdmin()"
             placeholder="Enter first name" value="{{patient.firstName}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group mt-2">
      <label for="patientLastName">Last Name</label>
      <input type="text" [(ngModel)]="patient.lastName" [disabled]="!isAdmin()" class="form-control"
             id="patientLastName" placeholder="Enter last name" value="{{patient.lastName}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group mt-2">
      <label for="patientPhoneNumber">Phone Number</label>
      <input type="text" [(ngModel)]="patient.phoneNumber" [disabled]="!isAdmin()" class="form-control"
             id="patientPhoneNumber" placeholder="Enter phone number" value="{{patient.phoneNumber}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="mt-2">
      <input matInput [matDatepicker]="picker" [disabled]="!isAdmin()" [(ngModel)]="patient.birthDate" [ngModelOptions]="{standalone:true}">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <button type="submit" (click)="update(patient)" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
