<div>
  <div class=" mt-2">
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select #roleSelector>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="w-full md:w-1/2 px-3 mb-3">
      <label class="text-slate-300" for="dropdownRadioButton">Market</label>
      <button (click)="toggleDropdown()"
              class="bg-slate-800 border-0 text-white placeholder-gray-400 font-medium rounded-lg p-2.5 mt-1.5 text-sm w-full py-2.5 justify-center inline-flex items-center"
              id="dropdownRadioButton"
              type="button">
        {{ selectedRoleTitle || 'Please choose an option' }}
        <svg aria-hidden="true" class="w-2.5 h-2.5 ml-2.5" fill="none" viewBox="0 0 10 6"
             xmlns="http://www.w3.org/2000/svg">
          <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"/>
        </svg>
      </button>
      <div *ngIf="isDropdownVisible"
           class="w-full bg-slate-800 divide-gray-100 rounded-xl shadow-lg mt-2">
        <ul aria-labelledby="dropdownRadioButton"
            class="p-3 space-y-3 text-sm text-slate-200">
          <li *ngFor="let role of roles; let i = index">
            <div class="flex items-center">
              <input type="radio"
                     [id]="'title' + i"
                     [value]="role.value"
                     (change)="updateSelection(role.value)"
                      [checked]="role.value === selectedRoleTitle"
                     class="w-4 h-4 text-purple-main bg-slate-100 border-slate-600 focus:ring-purple-main focus:ring-2"
                     name="supermarketTitle">
              <label [for]="'title' + i"
                     class="cursor-pointer ml-2 text-sm font-medium">{{ role.viewValue }}</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group mt-2">
    <label for="userEmail">Email address</label>
    <input type="email" [(ngModel)]="user.email" class="form-control"
           id="userEmail" aria-describedby="emailHelp" placeholder="Enter email"
           value="{{user.email}}" [ngModelOptions]="{standalone:true}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group mt-2">
    <label for="userFirstName">First Name</label>
    <input type="text" [(ngModel)]="user.firstName"
           class="form-control" id="userFirstName"
           placeholder="Enter first name" value="{{user.firstName}}" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="form-group mt-2">
    <label for="userLastName">Last Name</label>
    <input type="text" [(ngModel)]="user.lastName" class="form-control"
           id="userLastName" placeholder="Enter last name" value="{{user.lastName}}"
           [ngModelOptions]="{standalone:true}">
  </div>
  <div class="form-group mt-2">
    <label for="userPhoneNumber">Phone Number</label>
    <input type="text" [(ngModel)]="user.phoneNumber" class="form-control"
           id="userPhoneNumber" placeholder="Enter phone number" value="{{user.phoneNumber}}"
           [ngModelOptions]="{standalone:true}">
  </div>
  <div class="form-group mt-2">
    <label for="userInsuranceNumber">Insurance Number</label>
    <input type="number" [(ngModel)]="user.insuranceNumber" class="form-control"
           id="userInsuranceNumber" placeholder="Enter insurance number" value="{{user.insuranceNumber}}"
           [ngModelOptions]="{standalone:true}">
  </div>
  <div class="form-group mt-2">
    <label for="userOfficeNumber">Office Number</label>
    <input type="number" [(ngModel)]="user.officeNumber" class="form-control"
           id="userOfficeNumber" placeholder="Enter office number" value="{{user.officeNumber}}"
           [ngModelOptions]="{standalone:true}">
  </div>
  <div class="mt-2">
    <label for="userBirthDate">Birth Date</label>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <input class="form-control" matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate"
           [ngModelOptions]="{standalone:true}" id="userBirthDate">
  </div>
  <hr>
  <div class="form-group mt-2 row">
    <form [formGroup]="passwordForm" autocomplete="off" novalidate>
      <div class="mb-3 row">
        <label for="password" class="col-form-label col-sm-2">Password:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
        <div class="col-md-5">
          <input type="password" id="confirm" formControlName="confirm" class="form-control"/>
        </div>
      </div>
      <hr>
      <button type="submit" (click)="update(user, passwordForm.value, roleSelector.value)"
              [disabled]="!passwordForm.valid" class="btn btn-primary mt-3">Submit
      </button>
    </form>
  </div>
</div>
