<div class="flex flex-col">
  <h2 class="text-slate-900">Create user</h2>
  <div class="mb-6">
    <label
      class="block mb-2 text-sm font-medium text-gray-700"
      for="roleSelector">Role</label>
    <select #roleSelector
            class="font-medium text-gray-800 placeholder-gray-600 bg-indigo-100/90 ring-2 border-0 ring-indigo-200 rounded-2xl p-2.5 mt-1.5 text-sm w-full py-2.5 justify-center"
            id="roleSelector"
            name="roleSelector"
            [(ngModel)]="user.role"
            required>
      <option value="" disabled selected>Select role</option>
      <option class="font-medium p-2.5 rounded-3xl border-indigo-400"
              *ngFor="let role of roles" [value]="role.value">
        {{ role.viewValue }}
      </option>
    </select>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-3 lg:grid-cols-6">
    <div>
      <label
        [class]="firstName.invalid && firstName.touched ? 'block mb-2 text-sm font-medium text-red-600' : 'block mb-2 text-sm font-medium text-gray-700'"
        for="userFirstName">First Name</label>
      <input type="text"
             id="userFirstName"
             [(ngModel)]="user.firstName"
             name="userFirstName"
             placeholder="e.g. Alex"
             [ngModelOptions]="{standalone:true}"
             value="{{user.firstName}}"
             [class]="firstName.invalid && firstName.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-indigo-400'"
             #firstName="ngModel"
             required>
      <div *ngIf="firstName.invalid && firstName.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        First name is required.
      </div>
    </div>
    <div class="">
      <label
        [class]="lastName.invalid && lastName.touched ? 'block mb-2 text-sm font-medium text-red-600' : 'block mb-2 text-sm font-medium text-gray-700'"
        for="userLastName">Last Name</label>
      <input type="text"
             id="userLastName"
             [(ngModel)]="user.lastName"
             name="userLastName"
             placeholder="e.g. Popov"
             [ngModelOptions]="{standalone:true}"
             value="{{user.lastName}}"
             [class]="lastName.invalid && lastName.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-indigo-400'"
             #lastName="ngModel"
             required>
      <div *ngIf="lastName.invalid && lastName.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        Last name is required.
      </div>
    </div>
    <div class="">
      <label
        [class]="phoneNumber.invalid && phoneNumber.touched ? 'block mb-2 text-sm font-medium text-red-600' : 'block mb-2 text-sm font-medium text-gray-700'"
        for="userPhoneNumber">Phone number</label>
      <input type="tel"
             id="userPhoneNumber"
             [(ngModel)]="user.phoneNumber"
             name="userPhoneNumber"
             placeholder="e.g. +359 888 888 888"
             [ngModelOptions]="{standalone:true}"
             value="{{user.phoneNumber}}"
             [class]="phoneNumber.invalid && phoneNumber.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-indigo-400'"
             #phoneNumber="ngModel"
             required>
      <div *ngIf="phoneNumber.invalid && phoneNumber.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        Phone number is required.
      </div>
    </div>
    <div *ngIf="user.role === 'DOCTOR'">
      <label
        [class]="officeNumber.invalid && officeNumber.touched ? 'block mb-2 text-sm font-medium text-red-600'
                                                              : 'block mb-2 text-sm font-medium text-gray-700'"
        for="userOfficeNumber">Office number</label>
      <input type="number"
             id="userOfficeNumber"
             [(ngModel)]="user.officeNumber"
             name="userOfficeNumber"
             placeholder="e.g. 3153"
             [ngModelOptions]="{standalone:true}"
             value="{{user.officeNumber}}"
             [class]="officeNumber.invalid && officeNumber.touched ? 'form-input-store text-sm border-2 border-red-600'
                                                                   : 'form-input-store text-sm border-2 border-indigo-400'"
             #officeNumber="ngModel"
             required>
      <div *ngIf="officeNumber.invalid && officeNumber.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        Office number is required.
      </div>
    </div>
    <div *ngIf="user.role === 'PATIENT'">
      <label
        [class]="birthDate.invalid && birthDate.touched ? 'block mb-2 text-sm font-medium text-red-600'
                                                        : 'block mb-2 text-sm font-medium text-gray-700'"
        for="userBirthDate">Birth date</label>
      <input type="date"
             id="userBirthDate"
             [(ngModel)]="user.birthDate"
             name="userBirthDate"
             placeholder="e.g. 12/01/01"
             [ngModelOptions]="{standalone:true}"
             value="{{user.birthDate}}"
             [class]="birthDate.invalid && birthDate.touched ? 'form-input-store text-sm border-2 border-red-600'
                                                             : 'form-input-store text-sm border-2 border-indigo-400'"
             #birthDate="ngModel"
             required>
      <div *ngIf="birthDate.invalid && birthDate.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        Birth date is required.
      </div>
    </div>
  </div>
  <div>
    <label
      [class]="email.invalid && email.touched ? 'block mb-2 text-sm font-medium text-red-600'
                                              : 'block mb-2 text-sm font-medium text-gray-700'"
      for="email">Email</label>
    <input type="email"
           id="email"
           [(ngModel)]="user.email"
           name="email"
           autocomplete="off"
           placeholder="e.g. user@example.com"
           [ngModelOptions]="{standalone:true}"
           value="{{user.email}}"
           [class]="email.invalid && email.touched ? 'form-input-store text-sm border-2 border-red-600'
                                                   : 'form-input-store text-sm border-2 border-indigo-400'"
           #email="ngModel"
           required>
    <div *ngIf="email.invalid && email.touched"
         class="mt-2 text-sm text-red-600 dark:text-red-500">
      A valid email is required.
    </div>
  </div>
  <form class="space-y-6 mt-6" [formGroup]="passwordForm" autocomplete="off" novalidate>
    <div>
      <label *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched" for="password"
             class="block mb-2 text-sm font-medium text-red-600">Password</label>
      <label *ngIf="!passwordForm.get('password')?.invalid || !passwordForm.get('password')?.touched"
             for="password"
             class="block mb-2 text-sm font-medium text-gray-700">Password</label>
      <input type="password"
             id="password"
             formControlName="password"
             placeholder="••••••••"
             [class]="passwordForm.get('password')?.invalid &&
              passwordForm.get('password')?.touched ? 'form-input-store text-sm border-2 border-red-600'
                                                    : 'form-input-store text-sm border-2 border-indigo-400'"
             required>
      <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span *ngIf="validateControl('password') &&
        hasError('password', 'required')">Password is required.</span>
      </div>
    </div>
    <div>
      <label *ngIf="passwordForm.get('confirm')?.invalid && passwordForm.get('confirm')?.touched" for="password"
             class="block mb-2 text-sm font-medium text-red-600">Confirm Password</label>
      <label *ngIf="!passwordForm.get('confirm')?.invalid || !passwordForm.get('confirm')?.touched"
             for="confirm"
             class="block mb-2 text-sm font-medium text-gray-700">Confirm Password</label>
      <input type="password"
             id="confirm"
             formControlName="confirm"
             placeholder="••••••••"
             [class]="passwordForm.get('confirm')?.invalid &&
              passwordForm.get('confirm')?.touched ? 'form-input-store text-sm border-2 border-red-600'
                                                   : 'form-input-store text-sm border-2 border-indigo-400'"
             required>
      <div *ngIf="passwordForm.get('confirm')?.invalid && passwordForm.get('confirm')?.touched"
           class="mt-2 text-sm text-red-600 dark:text-red-500">
        Password confirmation is required.
      </div>
    </div>
    <button type="submit"
            (click)="update(user, passwordForm.value, roleSelector.value)"
            [disabled]="!passwordForm.valid"
            class="disabled:bg-indigo-50 disabled:text-purple-300 ease-in-out text-indigo-600 transition-colors text-heading4-medium bg-indigo-100/90 hover:bg-indigo-200/50 border-2 border-indigo-200/30 hover:border-indigo-200/50 active:bg-indigo-200/60 rounded-3xl px-16 py-1.5 max-md:hidden shadow-md">
      Submit
    </button>
  </form>
</div>
