<div class="mt-8">

  <div class="relative bg-gray-100 rounded-3xl overflow-hidden z-20 shadow-md">

    <div class="absolute inset-0 bg-cover bg-center"
         style="background-image: url('/assets/images/sign-in.png'); filter: blur(3px);"></div>

    <div class="absolute inset-0 bg-slate-100/30"></div>

    <div class="py-8 px-12 mx-auto max-w-screen-xl grid grid-cols-2 gap-5 relative items-start">
      <div class="flex flex-col justify-center text-gray-800 mt-4">
        <h1
                class="mb-4 text-heading1-semibold font-extrabold tracking-tight leading-none z-2 md:text-5xl lg:text-6xl dark:text-white">
          Empowering Your Health Journey</h1>
        <p class="mb-6 text-heading4-medium font-medium z-2 lg:text-xl dark:text-gray-400">
          Connecting Patients and Doctors with Ease. <br>Simplifying appointments, enhancing care.
        </p></div>
      <div>
        <div class="lg:max-w-xl p-6 space-y-8 sm:p-8 rounded-3xl shadow-xl bg-slate-200">
          <h2 class="text-heading2-semibold text-gray-700">
            Sign in to Norman.zs
          </h2>
          <div *ngIf="invalidLogin" class="alert alert-danger">Wasn't your password or email?</div>
          <form action="#" class="space-y-6">
            <div>
              <label for="username"
                     class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
              <input type="email"
                     id="username"
                     name="username"
                     placeholder="username@email.com"
                     ngModel
                     autofocus
                     aria-label="Email address"
                     class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-full focus:ring-primary-600 focus:border-primary-600 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <div>
              <label for="password"
                     class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password"
                     id="password"
                     name="password"
                     ngModel
                     aria-label="Password"
                     placeholder="••••••••"
                     class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-full focus:ring-primary-600 focus:border-primary-600 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <button
                    class="flex flex-row ease-in-out text-amber-300 transition-colors text-base-regular bg-indigo-400 hover:bg-indigo-400/70 border-2 border-indigo-400/30 hover:border-indigo-400/50 active:bg-indigo-400/60 rounded-full px-6 py-1 max-md:hidden shadow-md"
                    type="submit">
              Sign in
            </button>
            <div class="text-sm font-medium text-gray-500">
              Not registered? <a [routerLink]="['/registration']"
                                 routerLinkActive="active"
                                 [routerLinkActiveOptions]="{exact: true}"
                                 class="no-underline text-base-semibold text-xs text-orange-400 bg-none border-0 hover:underline hover:text-amber-500 active:text-orange-500 cursor-pointer">
              Create account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
